# **Union de Tablas**
# Acciones para Facilitar la Lectura de las Funciones en FastAPI

En este archivo encontraremos una sección que facilitará y optimizara todo el proceso para poder subir la información sin ningún inconveniente a fast api y poder usarlo de manera eficiente. En el proceso de subir funciones a FastAPI, es crucial mantener la legibilidad y comprensión del código. Para ello, vamos a realizar una serie de acciones:

1. **Añadir Comentarios Descriptivos:** Cada función debe estar acompañada de comentarios claros que expliquen su propósito, parámetros y posibles valores de retorno.

2. **Utilizar Nombres Explicativos:** Es fundamental asignar nombres significativos tanto a las funciones como a sus parámetros. Esto ayuda a comprender rápidamente qué hace cada función y cómo utilizarla.

3. **Documentar con Docstrings:** Emplearemos docstrings para documentar cada función, proporcionando información detallada sobre su funcionalidad, parámetros y valores de retorno.

4. **Formato Consistente:** Mantendremos un formato consistente en todo el código, siguiendo las convenciones de estilo de Python (PEP 8). Esto incluye la indentación, la longitud máxima de línea y el uso adecuado de espacios en blanco.

5. **Organización Lógica del Código:** Dividiremos el código en funciones más pequeñas y cohesivas, cada una encargada de una tarea específica. Esto mejora la modularidad y facilita la comprensión del flujo de ejecución.

Al seguir estas acciones, garantizaremos que nuestras funciones sean fácilmente comprensibles y utilitarias al integrarlas en FastAPI.

### 1. Importamos las librerias

In [13]:
import pandas as pd
import funciones_basicas as fb
import warnings
warnings.filterwarnings('ignore')

### 2. Cargamos los datos que vamos a usar

In [14]:
games = fb.cargar_datos_parquet('PARQUET\GAMES.parquet')
games.head(3)

,GENEROS,NOMBRE_JUEGO,PRECIO,ID_GAME,DEVELOPER,AÑO
0,ACTION,LOST SUMMONER KITTY,4.990000,761140,KOTOSHIRO,2018
1,FREE TO PLAY,IRONBOUND,26.790000,643980,SECRET LEVEL SRL,2018
2,CASUAL,REAL POOL 3D - POOLIANS,4.801037,670290,POOLIANS.COM,2017

In [15]:
reviews = fb.cargar_datos_parquet('PARQUET\REVIEWS.parquet')
reviews.head(3)

          ID_USUARIO  AÑO_LANZAMIENTO ID_GAME  RECOMIENDA  SENTIMIENTO
0  76561197970982479             2011    1250        True            2
1  76561197970982479             2011   22200        True            1
2  76561197970982479             2011   43110        True            2

In [16]:
items = fb.cargar_datos_parquet('PARQUET\ITEMS.parquet')
items.head(3)

,ID_GAME,NOMBRE_JUEGO,ID_STEAM,CANT_JUEGOS,ID_USUARIO,HORAS_DE_JUEGO
0,10,COUNTER-STRIKE,76561197970982479,277,76561197970982479,0.10
1,30,DAY OF DEFEAT,76561197970982479,277,76561197970982479,0.12
2,300,DAY OF DEFEAT: SOURCE,76561197970982479,277,76561197970982479,78.88

### 3. Iniciamos la union de tablas con el método merged

#### Unimos las tablas de manera general

In [17]:
# Juntamos las tablas games y reviews
merged_data = pd.merge(games, reviews, left_on='ID_GAME', right_on='ID_GAME', how='inner')
merged_data.head(3)

,GENEROS,NOMBRE_JUEGO,PRECIO,ID_GAME,DEVELOPER,AÑO,ID_USUARIO,AÑO_LANZAMIENTO,RECOMIENDA,SENTIMIENTO
0,ACTION,CARMAGEDDON MAX PACK,9.99,282010,STAINLESS GAMES LTD,1997,BLAZINGTHEAMAZING,2014,True,1
1,ACTION,HALF-LIFE,9.99,70,VALVE,1998,EXIAEZ,2015,True,1
2,ACTION,HALF-LIFE,9.99,70,VALVE,1998,MRPFRESH,2011,True,0

In [27]:
merged_data2 = pd.merge(merged_data, items, on=['ID_GAME', 'ID_USUARIO'])
merged_data2.head(3)

,GENEROS,NOMBRE_JUEGO_x,PRECIO,ID_GAME,DEVELOPER,AÑO,ID_USUARIO,AÑO_LANZAMIENTO,RECOMIENDA,SENTIMIENTO,NOMBRE_JUEGO_y,ID_STEAM,CANT_JUEGOS,HORAS_DE_JUEGO
0,ACTION,HALF-LIFE,9.99,70,VALVE,1998,MRPFRESH,2011,True,0,HALF-LIFE,76561197974266367,791,2.32
1,ACTION,HALF-LIFE,9.99,70,VALVE,1998,ARMOUREDMARSHMALLOW,2014,True,1,HALF-LIFE,76561198104386187,119,13.13
2,ACTION,HALF-LIFE,9.99,70,VALVE,1998,BLUEGILLS,2013,True,2,HALF-LIFE,76561197971857001,1280,1.07

#### Tabla Desarrollador

In [18]:
desarrollador = merged_data.drop(columns=['GENEROS', 'NOMBRE_JUEGO', 'ID_USUARIO', 'AÑO_LANZAMIENTO', 'RECOMIENDA', 'SENTIMIENTO'])
desarrollador.head(3)

   PRECIO ID_GAME            DEVELOPER   AÑO
0    9.99  282010  STAINLESS GAMES LTD  1997
1    9.99      70                VALVE  1998
2    9.99      70                VALVE  1998

In [19]:
# Guardamos latabla resultado en un archivo .parquet
fb.guardar_datos(desarrollador, 'PARQUET\TABLAS UNIDAS\DESARROLLADOR.parquet')

#### Tabla Gasto

In [20]:
gasto = merged_data.drop(columns=['GENEROS', 'NOMBRE_JUEGO', 'ID_GAME', 'DEVELOPER', 'SENTIMIENTO', 'AÑO'])
gasto.head(3)

   PRECIO         ID_USUARIO  AÑO_LANZAMIENTO  RECOMIENDA
0    9.99  BLAZINGTHEAMAZING             2014        True
1    9.99             EXIAEZ             2015        True
2    9.99           MRPFRESH             2011        True

In [21]:
# Guardamos la tabla resultado en un archivo .parquet
fb.guardar_datos(gasto, 'PARQUET\TABLAS UNIDAS\GASTO.parquet')

#### Usuario por Genero

In [23]:
merged_data.head(2)

,GENEROS,NOMBRE_JUEGO,PRECIO,ID_GAME,DEVELOPER,AÑO,ID_USUARIO,AÑO_LANZAMIENTO,RECOMIENDA,SENTIMIENTO
0,ACTION,CARMAGEDDON MAX PACK,9.99,282010,STAINLESS GAMES LTD,1997,BLAZINGTHEAMAZING,2014,True,1
1,ACTION,HALF-LIFE,9.99,70,VALVE,1998,EXIAEZ,2015,True,1

In [24]:
items.head(2)

,ID_GAME,NOMBRE_JUEGO,ID_STEAM,CANT_JUEGOS,ID_USUARIO,HORAS_DE_JUEGO
0,10,COUNTER-STRIKE,76561197970982479,277,76561197970982479,0.10
1,30,DAY OF DEFEAT,76561197970982479,277,76561197970982479,0.12

In [29]:
usuario_genero = merged_data2.drop(columns=['NOMBRE_JUEGO_x', 'PRECIO', 'ID_GAME', 'DEVELOPER', 'AÑO', 'RECOMIENDA', 'SENTIMIENTO', 'NOMBRE_JUEGO_y','ID_STEAM', 'CANT_JUEGOS',])
usuario_genero.head(3)

  GENEROS           ID_USUARIO  AÑO_LANZAMIENTO  HORAS_DE_JUEGO
0  ACTION             MRPFRESH             2011            2.32
1  ACTION  ARMOUREDMARSHMALLOW             2014           13.13
2  ACTION            BLUEGILLS             2013            1.07

In [31]:
fb.guardar_datos(usuario_genero, 'PARQUET\\TABLAS UNIDAS\\USUARIO_GENERO.parquet')

#### Top Developer

In [32]:
merged_data.head(3)

,GENEROS,NOMBRE_JUEGO,PRECIO,ID_GAME,DEVELOPER,AÑO,ID_USUARIO,AÑO_LANZAMIENTO,RECOMIENDA,SENTIMIENTO
0,ACTION,CARMAGEDDON MAX PACK,9.99,282010,STAINLESS GAMES LTD,1997,BLAZINGTHEAMAZING,2014,True,1
1,ACTION,HALF-LIFE,9.99,70,VALVE,1998,EXIAEZ,2015,True,1
2,ACTION,HALF-LIFE,9.99,70,VALVE,1998,MRPFRESH,2011,True,0

In [34]:
top_dev = merged_data.drop(columns=['GENEROS', 'NOMBRE_JUEGO', 'PRECIO', 'ID_GAME', 'AÑO_LANZAMIENTO'])
top_dev.head(3)

             DEVELOPER   AÑO         ID_USUARIO  RECOMIENDA  SENTIMIENTO
0  STAINLESS GAMES LTD  1997  BLAZINGTHEAMAZING        True            1
1                VALVE  1998             EXIAEZ        True            1
2                VALVE  1998           MRPFRESH        True            0

In [35]:
fb.guardar_datos(top_dev, 'PARQUET\TABLAS UNIDAS\TOP_DEV.parquet')

### Sentimiento Developer

In [37]:
sent_dev = merged_data.drop(columns=['GENEROS', 'NOMBRE_JUEGO', 'PRECIO', 'ID_GAME', 'AÑO', 'ID_USUARIO', 'AÑO_LANZAMIENTO', 'RECOMIENDA'])
sent_dev.head(3)

             DEVELOPER  SENTIMIENTO
0  STAINLESS GAMES LTD            1
1                VALVE            1
2                VALVE            0

In [38]:
fb.guardar_datos(sent_dev, 'PARQUET\TABLAS UNIDAS\SENT_DEV.parquet')