In [1]:
#librerías
from fastapi import FastAPI, Query, HTTPException
from fastapi.responses import HTMLResponse
from typing import Dict, List, Union, Tuple
import pandas as pd
from pandas.core.frame import DataFrame
import scipy as sp
import pyarrow as pa
import pyarrow.parquet as pq
from sklearn.metrics.pairwise import cosine_similarity
from typing import List, Optional
from pydantic import BaseModel
import

In [3]:
# Instanciamos la aplicación

app = FastAPI()

# Dentro del script
df_EP1 = pq.read_table("PARQUET\TABLAS UNIDAS\DESARROLLADOR.parquet").to_pandas()
df_EP2 = pq.read_table("PARQUET\TABLAS UNIDAS\GASTO.parquet").to_pandas()
df_EP3 = pq.read_table("PARQUET\\TABLAS UNIDAS\\USUARIO_GENERO.parquet").to_pandas()
df_EP4 = pq.read_table("PARQUET\TABLAS UNIDAS\TOP_DEV.parquet").to_pandas()
df_EP5 = pq.read_table("PARQUET\TABLAS UNIDAS\SENT_DEV.parquet").to_pandas()
modelo_games = pq.read_table("PARQUET\TABLAS UNIDAS\MODELO_TRAIN.parquet").to_pandas()

In [4]:
df_EP1.head(2)

   PRECIO ID_GAME            DEVELOPER   AÑO
0    9.99  282010  STAINLESS GAMES LTD  1997
1    9.99      70                VALVE  1998

In [5]:
df_EP2.head(2)

   PRECIO         ID_USUARIO  AÑO_LANZAMIENTO  RECOMIENDA
0    9.99  BLAZINGTHEAMAZING             2014        True
1    9.99             EXIAEZ             2015        True

In [6]:
df_EP3.head(2)

  GENEROS           ID_USUARIO  AÑO_LANZAMIENTO  HORAS_DE_JUEGO
0  ACTION             MRPFRESH             2011            2.32
1  ACTION  ARMOUREDMARSHMALLOW             2014           13.13

In [7]:
df_EP4.head(2)

             DEVELOPER   AÑO         ID_USUARIO  RECOMIENDA  SENTIMIENTO
0  STAINLESS GAMES LTD  1997  BLAZINGTHEAMAZING        True            1
1                VALVE  1998             EXIAEZ        True            1

In [8]:
df_EP5.head(2)

             DEVELOPER  SENTIMIENTO
0  STAINLESS GAMES LTD            1
1                VALVE            1

In [9]:
modelo_games.head(2)

,ID_GAME,NOMBRE_JUEGO,_ACCOUNTING,_ACTION,_ADVENTURE,_ANIMATION &AMP; MODELING,_AUDIO PRODUCTION,_CASUAL,_DESIGN &AMP; ILLUSTRATION,_EARLY ACCESS,...,_PHOTO EDITING,_RACING,_RPG,_SIMULATION,_SOFTWARE TRAINING,_SPORTS,_STRATEGY,_UTILITIES,_VIDEO PRODUCTION,_WEB PUBLISHING
0,10,COUNTER-STRIKE,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1002,RAG DOLL KUNG FU,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0